<div class="layout-content">
    <div>
      <!-- <div data-drupal-messages-fallback="" class="hidden"></div> -->
      <div id="block-ud-content"> 
        <div class="udg-device" aria-hidden="true"></div>
        <div class="udg-tickets">
          <div class="container">
            <h1>Book Your Tickets</h1>
            <section class="step-wizard">
              <ul class="step-wizard-list">
                  <li class="step-wizard-item ">
                      <span class="progress-count ">1</span>
                      <span class="progress-label">Time</span>
                  </li>
                  <li class="step-wizard-item current-item">
                      <span class="progress-count ">2</span>
                      <span class="progress-label">Choose Ticket</span>
                  </li>
                  <li class="step-wizard-item ">
                      <span class="progress-count">3</span>
                      <span class="progress-label">Check</span>
                  </li>
                  <li class="step-wizard-item">
                      <span class="progress-count">4</span>
                      <span class="progress-label">Success</span>
                  </li>
              </ul>
          </section>
            <div class="col-12 col-lg-7 box">
              <div class="row sib">
                  <div class="panel js-panel right" data-step="3">
                      <p class="guidance">Select your tickets</p>
                      <div class="products" data-type="standard">
                        <div class="item" *ngFor="let ticket of ticketTypes">
                          <div class="item-content row">
                            <div class="col-12 col-lg-5 col-xl-5 col-xxl-6 prod-desc">
                              {{ ticket.name }}
                            </div>
                            <div class="col-6 col-lg-3 col-xl-3 col-xxl-3 prod-price ar">
                              £{{ ticket.price }}
                            </div>
                            <div class="col-6 col-lg-4 col-xl-4 col-xxl-3 ar nww ct">
                              <a role="button" class="prod-adj off toggle" (click)="changeNum(ticket,-1)">-</a>          
                              <input type="number" [(ngModel)]="ticket.number" [id]="ticket.name" min="0" max="15" class="prod-count" value="0"/>
                              <a role="button" class="prod-adj" (click)="changeNum(ticket,1)">+</a>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6 mhide">
                              <p class="type-desc">{{ ticket.detail }}</p>
                            </div>
                          </div>
                        </div>
                        <!-- <div class="item">
                          <div class="item-content row">
                            <div class="col-12 col-lg-5 col-xl-5 col-xxl-6 prod-desc">
                              Adult
                            </div>
                            <div class="col-6 col-lg-3 col-xl-3 col-xxl-3 prod-price ar">
                              £26.50
                            </div>
                            <div class="col-6 col-lg-4 col-xl-4 col-xxl-3 ar nww ct">
                              <a role="button" class="prod-adj off toggle">-</a>          
                              <input type="text" min="0" max="15" class="prod-count" value="0"/>
                              <a role="button" class="prod-adj">+</a>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6 mhide">
                              <p class="type-desc">16 years +</p>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="item-content row">
                            <div class="col-12 col-lg-5 col-xl-5 col-xxl-6 prod-desc">
                              Adult
                            </div>
                            <div class="col-6 col-lg-3 col-xl-3 col-xxl-3 prod-price ar">
                              £26.50
                            </div>
                            <div class="col-6 col-lg-4 col-xl-4 col-xxl-3 ar nww ct">
                              <a role="button" class="prod-adj off toggle">-</a>
                              <input type="text" min="0" max="15" class="prod-count" value="0"/>
                              <a role="button" class="prod-adj">+</a>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6 mhide">
                              <p class="type-desc">16 years +</p>
                            </div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="item-content row">
                            <div class="col-12 col-lg-5 col-xl-5 col-xxl-6 prod-desc">
                              Adult
                            </div>
                            <div class="col-6 col-lg-3 col-xl-3 col-xxl-3 prod-price ar">
                              £26.50
                            </div>
                            <div class="col-6 col-lg-4 col-xl-4 col-xxl-3 ar nww ct">
                              <a role="button" class="prod-adj off toggle">-</a>
                              <input type="text" min="0" max="15" class="prod-count" value="0"/>
                              <a role="button" class="prod-adj">+</a>
                            </div>
                            <div class="col-12 col-lg-6 col-xl-6 col-xxl-6 mhide">
                              <p class="type-desc">16 years +</p>
                            </div>
                          </div>
                        </div> -->
                      </div>
                      <div class="action step2">
                          <span><a href="#" role="button" class="cta cta-lowlight" data-step="1">Go back</a></span>
                          <span><a href="/ticket/two" role="button" class="cta cta-next" data-step="3">Confirm and continue</a></span>
                          </div>
                    </div> 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  