<div class="layout-content">
    <div>
        <div id="block-ud-content">
          <div class="udg-device" aria-hidden="true"></div>
          <div class="udg-tickets">
            <div class="container">
              <h1>Book Your Tickets</h1>
              <section class="step-wizard">
                <ul class="step-wizard-list">
                    <li class="step-wizard-item current-item">
                        <span class="progress-count ">1</span>
                        <span class="progress-label">Time</span>
                    </li>
                    <li class="step-wizard-item ">
                        <span class="progress-count ">2</span>
                        <span class="progress-label">Choose Ticket</span>
                    </li>
                    <li class="step-wizard-item ">
                        <span class="progress-count">3</span>
                        <span class="progress-label">Check</span>
                    </li>
                    <li class="step-wizard-item">
                        <span class="progress-count">4</span>
                        <span class="progress-label">Success</span>
                    </li>
                </ul>
            </section>
              <div class="row sib">
                <div class="col-12 col-lg-7 box">
                  <div class="js-panel-holder" style="height: 406.6px">
                    <div class="panel js-panel right" data-step="2"> 
                      <p class="guidance">
                        When would you like to visit?
                      </p>
                      <div class="avail">
                        <div class="list">
                          <a href="#" class="item">
                            <div class="item-content row no-gutters">
                                <span class="st">10:00</span>
                            </div></a> 
                           <a href="#" class="item">
                            <div class="item-content row no-gutters">
                                <span class="st">15:00</span>
                            </div></a>
                           <a href="#" class="item">
                            <div class="item-content row no-gutters">
                                <span class="st">18:00</span>
                            </div></a>
                        </div>
                      </div>
                    </div>                      
                  </div>
                </div>

                <div class="col-12 col-lg-7 box">
                  <div class="js-panel-holder" style="height: 406.6px">
                    <div class="panel js-panel middle active" data-step="1">
                      <div class="date-item date-item-dp caret-right active">
                        <span id="dp-label">Select a date</span>
                        <input aria-labelledby="dp-label" type="date" name="when" min="2024-10-19" max="2025-04-18"/>
                      </div>
                      <div class="action">
                        <a role="button" href="/ticket/two" class="cta cta-next" data-step="2">Confirm and continue</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>          
          </div>
        </div>
      </div>
</div>


