.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.form-group {
    margin-bottom: 15px;
}
input[type="text"],
input[type="datetime-local"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
}
textarea {
    resize: vertical;
}
button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.error{
    color: #ff0000;
    background-color: #ffe6e6;  
    border: 1px solid #ff4d4d;
    padding: 10px;
        border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
}