<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="profile-card text-center p-4">
                <img src="https://via.placeholder.com/150" alt="Avatar" class="avatar">

                <h4>{{userInfo?.firstName +' '+ userInfo?.lastName}}</h4>
                
                <p class="text-muted mb-1">Position: {{userInfo?.roleName}}</p>

   
                <p class="text-muted mb-1">Email: {{userInfo?.email}}</p>

  
                <p class="text-muted mb-1">Phone Number: {{userInfo?.phone}}</p>

                
                <p class="text-muted mb-3">Start date: {{date}}</p>

              
                <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary me-2 btn-edit">update</a>
                    <button class="btn btn-secondary" (click)="toggleChangePassword()">Thay Đổi Mật Khẩu</button>
                </div>
            </div>
            <div class="mt-4 change-password" id="changePasswordSection"    >
                <h5 class="text-center">Thay Đổi Mật Khẩu</h5>
                <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                  <div class="mb-3">
                    <label for="oldPassword" class="form-label">Mật Khẩu Hiện Tại</label>
                    <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" required>
                  </div>
                  <div class="mb-3">
                    <label for="newPassword" class="form-label">Mật Khẩu Mới</label>
                    <input type="password" class="form-control" id="newPassword" formControlName="newPassword" required>
                  </div>
                  <div class="mb-3">
                    <label for="confirmPassword" class="form-label">Xác Nhận Mật Khẩu Mới</label>
                    <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" required>
                    <div *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword')?.touched" class="text-danger">
                      Mật khẩu xác nhận không trùng khớp!
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary" [disabled]="!passwordForm.valid">Thay Đổi Mật Khẩu</button>
                </form>
              </div>
        
    </div>
</div>

