<div class="wrapper"> 
    <div class="form-register">
        <div class=".rergister-containe">
            <div class="top">
                <span>Already have an account? <a [routerLink]="['/customer/login']">Login</a></span>
                <header>Sign Up</header>
            </div>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="two-forms">
                <div class="input-box">
                    <input type="text" class="input-field" formControlName="firstName" placeholder="First name">
                    <i class="bi bi-person"></i> 
                    <div *ngIf="firstNameError" class="error">*{{ firstNameError }}</div>       
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" formControlName="lastName" placeholder="Last name">
                    <i class="bi bi-person"></i> 
                    <div *ngIf="lastNameError" class="error">*{{ lastNameError }}</div>       
                </div>
            </div>
            <div class="input-box">
                <input type="text" class="input-field" formControlName="email" placeholder="Email">
                <i class="bi bi-envelope"></i>
                <div *ngIf="emailError" class="error">*{{ emailError }}</div>       
            </div>
            <div class="input-box">
                <input type="text" class="input-field" formControlName="phone" placeholder="Phone number">
                <i class="bi bi-telephone"></i>
            </div>
            <div class="input-box">
                <input type="password" class="input-field" formControlName="password" placeholder="Password">
                <i class="bi bi-lock"></i>
                <div *ngIf="passwordError" class="error">*{{ passwordError }}</div>       
            </div>
            <div class="input-box">
                <input type="submit" class="submit" value="Register">
            </div>
            <div class="two-col">
                <div class="one">
                    <input type="checkbox" id="register-check">
                    <label for="register-check"> Remember Me</label>
                </div>
                <div class="two">
                    <label><a href="#">Terms & conditions</a></label>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>   
