<div class="header">
    <div class="header-link">
        <a href>Animals Introduction</a><i class="bi bi-chevron-right"></i>
        <a href="animal">Animals</a>
    </div>
    <h1>Animals</h1>
    <p class="header-bold-text">Not all animals listed are currently on exhibit at the Aquarium. This
        is a list of animals that live in the ocean.</p>
    <p class="header-text">Please enjoy learning about the many creatures who call the ocean home! </p>
</div>
<div class="search-container">
    <input
        type="text"
        placeholder="Search for an animal..." />
</div>

<section class="animal-section">
    <div class="animal-card">
        <a href="#" class="card-link">
            <img src="/assets/img/a1.jpg" alt="Sea Otter">
            <div class="animal-content">
                <p class="animal-type">ANIMAL</p>
                <h3 class="name">Abalone</h3>
                <p class="content ellipsis">A flattened spiral shell or protects
                    this marine snail's muscular foot - a highly prized dish on
                    seafood menus</p>
                <div class="see-more">

                    <p><i class="bi bi-arrow-right-circle see-more-icon"></i>See
                        more</p>
                </div>
            </div>
        </a>
    </div>
    <div class="animal-card">
        <a href="#" class="card-link">
            <img src="/assets/img/jellyfish1.jpg" alt="Sea Otter">
            <div class="animal-content">
                <p class="animal-type">ANIMAL</p>
                <h3 class="name">Abalone</h3>
                <p class="content ellipsis">A flattened spiral shell or protects
                    this marine snail's muscular foot - a highly prized dish on
                    seafood menus</p>
                <div class="see-more">

                    <p><i class="bi bi-arrow-right-circle see-more-icon"></i>See
                        more</p>
                </div>
            </div>
        </a>
    </div>
    <div class="animal-card">
        <a href="#" class="card-link">
            <img src="/assets/img/bg1.jpg" alt="Sea Otter">
            <div class="animal-content">
                <p class="animal-type">ANIMAL</p>
                <h3 class="name">Abalone</h3>
                <p class="content ellipsis">A flattened spiral shell or protects
                    this marine snail's muscular foot - a highly prized dish on
                    seafood menus</p>
                <div class="see-more">

                    <p><i class="bi bi-arrow-right-circle see-more-icon"></i>See
                        more</p>
                </div>
            </div>
        </a>
    </div>
    <div class="animal-card">
        <a href="#" class="card-link">
            <img src="/assets/img/jelly2.jpg" alt="Sea Otter">
            <div class="animal-content">
                <p class="animal-type">ANIMAL</p>
                <h3 class="name">Abalone</h3>
                <p class="content ellipsis">A flattened spiral shell or protects
                    this marine snail's muscular foot - a highly prized dish on
                    seafood menus</p>
                <div class="see-more">

                    <p><i class="bi bi-arrow-right-circle see-more-icon"></i>See
                        more</p>
                </div>
            </div>
        </a>
    </div>
    <div class="animal-card">
        <a href="#" class="card-link">
            <img src="/assets/img/jelly3.jpg" alt="Sea Otter">
            <div class="animal-content">
                <p class="animal-type">ANIMAL</p>
                <h3 class="name">Abalone</h3>
                <p class="content ellipsis">A flattened spiral shell or protects
                    this marine snail's muscular foot - a highly prized dish on
                    seafood menus</p>
                <div class="see-more">

                    <p><i class="bi bi-arrow-right-circle see-more-icon"></i>See
                        more</p>
                </div>
            </div>
        </a>
    </div>
    <div class="animal-card">
        <a href="#" class="card-link">
            <img src="/assets/img/turtle.jpg" alt="Sea Otter">
            <div class="animal-content">
                <p class="animal-type">ANIMAL</p>
                <h3 class="name">Abalone</h3>
                <p class="content ellipsis">A flattened spiral shell or protects
                    this marine snail's muscular foot - a highly prized dish on
                    seafood menus</p>
                <div class="see-more">

                    <p><i class="bi bi-arrow-right-circle see-more-icon"></i>See
                        more</p>
                </div>
            </div>
        </a>
    </div>
    <div class="animal-card">
        <a href="#" class="card-link">
            <img src="/assets/img/jelly4.jpg" alt="Sea Otter">
            <div class="animal-content">
                <p class="animal-type">ANIMAL</p>
                <h3 class="name">Abalone</h3>
                <p class="content ellipsis">A flattened spiral shell or protects
                    this marine snail's muscular foot - a highly prized dish on
                    seafood menus</p>
                <div class="see-more">

                    <p><i class="bi bi-arrow-right-circle see-more-icon"></i>See
                        more</p>
                </div>
            </div>
        </a>
    </div>
    <div class="animal-card">
        <a href="#" class="card-link">
            <img src="/assets/img/seahorse1.jpg" alt="Sea Otter">
            <div class="animal-content">
                <p class="animal-type">ANIMAL</p>
                <h3 class="name">Abalone</h3>
                <p class="content ellipsis">A flattened spiral shell or protects
                    this marine snail's muscular foot - a highly prized dish on
                    seafood menus</p>
                <div class="see-more">

                    <p><i class="bi bi-arrow-right-circle see-more-icon"></i>See
                        more</p>
                </div>
            </div>
        </a>
    </div>
</section>

<nav aria-label="...">
    <ul class="pagination ">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item active">
            <span class="page-link">
                1
                <span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>

        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>
