<header>
    <nav class="navbar-dark fixed-top header" [class.hidden]="isHeaderHidden">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a href class="logo-link"><img src="/assets/img/header8.png" />Blue Planet Aquarium</a>
                </div>
                <div class="actions">
                    <a href="userInfo" class="username">username</a>
                    <div class="user-dropdown" #userDropdown>
                        <label class="user icon-right" for="user-dropdown-toggle">
                            <i class="bi bi-person-circle user-icon"></i>
                        </label>
                        <input type="checkbox" id="user-dropdown-toggle" class="user-dropdown-toggle" />
                        <div class="user-dropdown-content">
                            <a href="userInfo" class="dropdown-item">User Info</a>
                            <a href="logout" class="dropdown-item">Log Out</a>
                        </div>
                    </div>

                    <!-- Uncomment these links if needed -->
                    <!-- <a href="login#" class="action icon-left">
                        <i class="bi bi-door-open-fill"></i> LOGIN
                    </a>
                    <a href="#" class="action icon-left">
                        <i class="bi bi-box-arrow-in-right"></i> REGISTER
                    </a> -->
                </div>
            </div>
            <div class="divider"></div>
            <div class="header-bottom">
                <nav class="navigation">
                    <a href class="nav-a">EVENT</a>
                    <!-- Animals Dropdown -->
                    <div class="dropdown" #animalsDropdown>
                        <label class="dropbtn icon-right" for="dropdown-toggle">ANIMALS <i class="bi bi-caret-down-fill"></i></label>
                        <input type="checkbox" id="dropdown-toggle" class="dropdown-toggle" />
                        <div class="dropdown-content" #dropdownContent>
                            <div class="dropdown-inner">
                                <div class="category-list">
                                    <h2 class="animals-title">Explore Animal Categories</h2>
                                    <ul class="category-options">
                                        <li><a href="#" class="list-opt">Fish</a></li>
                                        <li><a href="#" class="list-opt">Mammals</a></li>
                                        <li><a href="#" class="list-opt">Mollusks</a></li>
                                        <li><a href="#" class="list-opt">Crustaceans</a></li>
                                        <li><a href="#" class="list-opt">Jellyfish</a></li>
                                        <li><a href="#" class="list-opt">Cnidarians</a></li>
                                        <li><a href="#" class="list-opt">Corals and sponges</a></li>
                                        <li><a href="#" class="list-opt">Marine plants and algae</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="nav-a" href="customer/visit">VISIT</a>
                    <a class="nav-a" href="customer/feedback">FEEDBACK</a>
                </nav>
                <div class="ticket">
                    <a href="#" class="ticket-button icon-right">BUY TICKETS HERE<i class="bi bi-ticket-detailed-fill"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>
