<div class="sidebar">
    <h4><p>Thủy Cung </p></h4>

    <div class="admin-info">
        <img src="https://via.placeholder.com/80" alt="Admin Avatar">
        <h5><a routerLink="/admin/profile" >{{userInfo?.firstName}}</a></h5>
        <p>{{userInfo?.email}}</p>
    </div>
    <a routerLink="/admin/dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a>
    <a routerLink="/admin/dashboard/aquatic-creatures"><i class="bi bi-tencent-qq"></i> Animal</a>
    <a routerLink="/admin/dashboard/manager"><i class="bi bi-person"></i> Manager</a>
    <a routerLink="/admin/dashboard/customer"><i class="bi bi-person"></i> Customer</a>
    <a routerLink="/admin/dashboard/event"><i class="bi bi-calendar-event"></i> Event</a>
    <a routerLink="/admin/dashboard/order"><i class="bi bi-basket"></i> Orders</a>
    <a routerLink="/admin/dashboard/type"><i class="bi bi-list-task"></i> Type</a>
    <a routerLink="/admin/dashboard/species"><i class="bi bi-globe"></i> Species</a>
</div>