<div class="sidebar">
    <h4><a href="index.html">Thủy Cung </a></h4>

    <div class="admin-info">
        <img src="https://via.placeholder.com/80" alt="Admin Avatar">
        <h5><a href="profile.html">John Admin</a></h5>
        <p>admin.com</p>
    </div>
    <a routerLink="/dashboard"><i class="bi bi-speedometer2"></i> Dashboard</a>
    <a routerLink="/admin/dashboard/aquatic-creatures"><i class="bi bi-tencent-qq"></i> Animal</a>
    <a routerLink="/admin/dashboard/manager"><i class="bi bi-person"></i> Manage</a>
    <a routerLink="/admin/dashboard/customer"><i class="bi bi-person"></i> Manage Users</a>
    <a routerLink="/admin/dashboard/event"><i class="bi bi-calendar-event"></i> Event</a>
    <a routerLink="/admin/dashboard/order"><i class="bi bi-basket"></i> Orders</a>
    <a routerLink="/admin/dashboard/type"><i class="bi bi-list-task"></i> Type</a>
    <a routerLink="/admin/dashboard/species"><i class="bi bi-globe"></i> Species</a>
</div>