<div class="content">
    <div class="mt-5">
      <h2>Ticket List</h2>
      <input type="text"  placeholder="Search Ticket...">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>expiration_date</th>
            <th>purchase_date</th>
            <th>status</th>
            <th>Details</th>
            <th>Type</th>
          </tr>
        </thead>
        <tbody>
          <!-- <tr *ngFor="let Ticket of ticketList">
            <td>{{ Ticket.expiration_date }}</td>
            <td>{{ Ticket.purchase_date }}</td>
            <td>{{ Ticket.status }}</td>
            <td>{{ Ticket.order_details_id }}</td>
            <td>{{ Ticket.type_id }}</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
