
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
        <img class="third-slide" src="/assets/img/back4.jpg"
        alt="Third slide">
        <div class="container">
        <div class="col-md-7 order-md-2 carousel-caption text-left">
            <h1>Events</h1>
            <p>Discover exciting upcoming events at the aquarium! 
                From talks and tours to interactive sessions with marine life, 
                the aquarium offers a diverse and vibrant experience for everyone. 
                Activities here will help you gain a deeper understanding of marine life, 
                the role of each species in the ecosystem, and the challenges facing the ocean. 
                Come join the experience and join us in protecting the habitat of marine life!</p>
        </div>
        </div>
    </div>
    </div>
</div>

<div class="container marketing">

  <div class="search-container">
    <!-- Search bar -->
    <div class="search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search..." />
      <button (click)="onSearch()">Search</button>
    </div>
  </div>
  

  <div *ngFor="let event of events" class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">{{ event.eventName }}</h2>
      <div class="details">
        <p class="ib">
          <span class="ico">

          </span>
          {{ event.startDate | date: 'dd MMM yyyy' }} – {{ event.endDate | date: 'dd MMM yyyy' }}
        </p>
        <p class="ib">
          <span class="ico">
          </span>
          {{ event.startDate | date: 'HH:mm' }} - {{ event.endDate | date: 'HH:mm' }}
        </p>
      </div>
      <div class="cta-event">
        <a class="cta cta-yellow" href="customer/event/details/{{ event.id }}">See event details</a>
      </div>
    </div>
    <div class="col-md-5 order-md-1 img-event">
      <img class="featurette-image img-fluid mx-auto" [src]="'/assets/imgUpload/'+event.img" style="width: 500px; height: 350px; margin-bottom: 80px;">
    </div>
  </div>
  <hr class="featurette-divider">
<div class="pagination-controls" *ngIf="totalPages > 0">
  <button (click)="goToPreviousPage()" [disabled]="currentPage === 1">Previous</button>
  <span>Page {{ currentPage }} of {{ totalPages }}</span>
  <button (click)="goToNextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
    <div class="para para-mediacentre paragraph--view-mode--default">
      <div class="container">
        <div class="inner">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="txt">
                      <h2>Want to get in touch?</h2>
                      <p>If you have a question about one of our events or want to know more information, please contact our events and experiences team on</p>
                      <div class="cta-event">
                        <a href="" class="cta cta-yellow">Contact us</a>
                      </div>                     
                    </div>
                </div>
                <div class="col-12 col-lg-6 img">
                  <img src="https://images.rzss.org.uk/media/Edinburgh_Zoo/EZ_animals/Asiatic_lion/asiatic lion.jpg" alt="Asiatic lion Jayendra looking at the camera (eye contact). IMAGE: Laura Moore (2021)">
                </div>
              </div>
            </div>
          </div>
        </div>        
    </div>

    <div class="newsletter">
      <div class="container">
          <div class="row cta-event">
              <div class="col-lg-6 col-12">
                  <div class="txt">
                      <h2>Keep in touch with wildlife</h2>
                      <p>Be the first to hear about our latest offers, animal stories, event news and learn about the work we do for preserving endangered wildlife.</p>
                      <div class="cta-event">
                        <a href="customer/register" class="cta cta-yellow cta-plump">Sign up now</a>
                      </div>                          
                  </div>
              </div>
              <div class="col-lg-6 col-12">
                  <div class="img">
                      <img class="clip-c" src="https://hml.union-dev2.net/media/meerkat2.jpg" alt="Meerkats">
                  </div>
              </div>
          </div>
      </div>
  </div>
