<div class="layout-content">
    <div>
      <div data-drupal-messages-fallback="" class="hidden"></div>
      <div id="block-ud-content">
        <div class="udg-device" aria-hidden="true"></div>
        <div class="udg-tickets">
          <div class="container">
            <h1>Book Your Tickets</h1>
            <section class="step-wizard">
              <ul class="step-wizard-list">
                  <li class="step-wizard-item ">
                      <span class="progress-count ">1</span>
                      <span class="progress-label">Time</span>
                  </li>
                  <li class="step-wizard-item ">
                      <span class="progress-count ">2</span>
                      <span class="progress-label">Choose Ticket</span>
                  </li>
                  <li class="step-wizard-item current-item">
                      <span class="progress-count">3</span>
                      <span class="progress-label">Check</span>
                  </li>
                  <li class="step-wizard-item">
                      <span class="progress-count">4</span>
                      <span class="progress-label">Success</span>
                  </li>
              </ul>
          </section>
            <div class="col-12 col-lg-7 box">
              <div class="row sib">
                  <div class="panel js-panel right" data-step="3">
                      <p class="guidance">Order Detail</p>
                      <div class="products" data-type="standard">
                        <div class="card-body">
                          <div class="inf-order">
                            <h3>Time information</h3>
                            <p>Day:</p>
                            <p>Time:</p> 
                          </div>
                          <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <p><strong>Type Ticket:</strong> Electronics</p>
                                      <p><strong>Quantity:</strong> 10</p>
                                  </div>
                                  <button class="btn btn-danger btn-sm">Delete</button>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <p><strong>Type Ticket:</strong> Fashion</p>
                                      <p><strong>Quantity:</strong> 20</p>
                                  </div>
                                  <button class="btn btn-danger btn-sm">Delete</button>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <p><strong>Type Ticket:</strong> Accessories</p>
                                      <p><strong>Quantity:</strong> 15</p>
                                  </div>
                                  <button class="btn btn-danger btn-sm">Delete</button>
                              </li>
                          </ul>
                      </div>                        
                      </div>
                      <p class="guidance" style="padding-top: 50px;">Do you want to use points?</p>
                      <div class="products" data-type="standard"> 
                        <form class="score">
                          <div class="form-group">
                              <label for="score">Score:</label>
                              <input type="number" class="form-control" id="score" placeholder="enter score" required>
                          </div>
                          <button type="submit" class="btn btn-primary">Enter</button>
                      </form>
                      </div>
                      <div class="action step2">
                          <span><a href="/ticket/two" role="button" class="cta cta-lowlight" data-step="1">Go back</a></span>
                          <span><a href="/ticket/four" role="button" class="cta cta-next" data-step="3">Confirm and continue</a></span>
                          </div>
                    </div> 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  