<div class="layout-content">
    <div>
      <div id="block-ud-content">
        <article>
          <div class="container header-content">
            <h1>Visit</h1>
          </div>
          <div class="content">
            <div class="para para-t paragraph--view-mode--default nopadb plain">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-10 col-lg-10 col-xl-9">
                    <div class="txt">
                      <h2>Welcome to Big Aquarium!</h2>
                      <p>
                        Aquariums are a window into the magical world of the ocean, where people can immerse themselves 
                        in the mysterious beauty of the sea, learn about the challenges marine life faces, and explore our 
                        efforts to protect species from extinction.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="para para-it-it-it paragraph--view-mode--default mb-yellow white mt-white">
              <div class="para-content">
                <div class="container">
                  <div class="row mh">
                    <div class="col-lg-4 col-12 item">
                      <div class="img">
                        <img
                          class="clip-d"
                          src="/assets/img/visit/visit1.jpg"
                        />
                      </div>
                      <h3 style="height: 32px">History</h3>
                      <div class="txt" style="height: 96px">
                        <p>
                          Over the years, 
                          the aquarium has become a symbol of the connection between humans and the ocean, 
                          providing a unique experience for millions of visitors.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-12 item">
                      <div class="img">
                        <img
                          class="clip-a"
                          src="/assets/img/visit/visit2.jpeg" 
                        />
                      </div>
                      <h3 style="height: 32px">Main Attractions</h3>
                      <div class="txt" style="height: 96px">
                        <p>
                          Highlights of the aquarium include a colorful coral reef area,
                          a majestic shark tank and a glowing marine life zone, 
                          providing a vivid experience of the ocean world.
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-12 item">
                      <div class="img">
                        <img
                          class="clip-c"
                          src="/assets/img/visit/visit5.jpg" 
                        />
                      </div>
                      <h3 style="height: 32px">Notes and Regulations</h3>
                      <div class="txt" style="height: 96px">
                        <p>
                          Visitors are requested to comply with the rules of not touching marine life, 
                          not using flash when taking photos and maintaining general hygiene within the aquarium premises.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="deco-bottom" aria-hidden="true">
                <svg class="deco-bottom" viewBox="0 0 1440 137" fill="none" preserveAspectRatio="none">
                    <path d="M77.3004 88.7309C50.8766 85.3383 23.6152 75.7499 0 62.0566V135.964H1438.35C1438.9 136 1439.45 136.036 1440 136.071V135.964H1438.35C1405.71 133.82 1371.9 130.566 1336.9 126.072C1157.18 102.995 1075.43 63.2328 1016.9 34.7572C984.242 18.8735 958.808 6.50187 927.616 2.4965C872.749 -4.54842 820.379 3.43595 793.658 24.9399C791.087 27.0068 788.507 29.0927 785.912 31.1903C722.082 82.786 649 141.861 475.951 119.642C411.108 111.315 378.649 99.3803 351.193 89.2851C331.071 81.8866 313.636 75.476 288.111 72.1986C244.318 66.5756 210.156 73.6791 176.906 80.5932C145.385 87.1474 114.684 93.5312 77.3756 88.7406L77.3004 88.7309Z"></path>
                </svg>
              </div>
            </div>         
          
            <div class="para para-i-t paragraph--view-mode--default yellow">
              <div class="container">
                <div class="row">
                  <div class="col-12 col-md-6 img">
                    <img
                      class="clip-a"
                      src="/assets/img/visit/visit4.jpeg"
                      alt="Crowned lemur sitting on a branch looking off-camera"
                    />
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="txt">
                      <h2 class="content">UNDERWATER ANIMALS!</h2>
                      <p>
                        Aquariums offer a diverse view of life under the ocean, 
                        from the colorful fish that glide through coral reefs to unique creatures 
                        like the intelligent octopus or the majestic shark.
                      </p>
                      <p>
                        Here, we can explore the layers of the ocean ecosystem, 
                        where each species has its own role and way of surviving in its habitat.
                      </p>
                      <p>
                        The marine creatures in the aquarium are not only representatives of the 
                        rich ocean ecosystem, but also a bridge to help people better understand the 
                        importance of marine conservation and protecting their natural habitat.
                      </p>
                      <a class="cta cta-theme">Dig Deeper</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="para para-it-it-it paragraph--view-mode--default mb-grey white mt-yellow">
              <div class="para-content">
                <div class="container">
                  <div class="row mh" mh-class="h3,.txt" mh-cutoff="992">
                    <div class="col-lg-6 col-12 item">
                      <div class="img">
                        <img
                          class="lat"
                          src="/assets/img/visit/visit6.jpg"
                        />
                      </div>
                      <h3 style="height: 32px">Ticket Prices and Promotions</h3>
                      <div class="txt" style="height: 144px">
                        <p>
                          Aquarium ticket prices are divided into many categories suitable for adults,
                          children and family groups, making it easy for everyone to visit and explore.
                        </p>
                        <p>
                          In particular, the aquarium often has seasonal promotions and discounts for large groups, 
                          bringing an interesting and economical experience to visitors.
                        </p>
                      </div>
                      <a class="cta" routerLink="/customer/buy-ticket">Buy Ticket</a>
                    </div>
                    <div class="col-lg-6 col-12 item">
                      <div class="img">
                        <img
                          class="lat"
                          src="/assets/img/visit/visit3.jpeg"
                        />
                      </div>
                      <h3 style="height: 32px">Activities and Special Events</h3>
                      <div class="txt" style="height: 144px">
                        <p>
                          The aquarium hosts fun activities such as fish feedings, 
                          marine life shows and educational programs for children.
                        </p>
                        <p>
                          In addition, special seasonal events such as Halloween 
                          Underwater Night or Christmas with Coral will bring visitors 
                          an unforgettable experience.
                        </p>
                      </div>
                      <a class="cta" routerLink="/customer/event">See Event</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="deco-bottom" aria-hidden="true">
                <svg
                  class="deco-bottom"
                  viewBox="0 0 1440 137"
                  fill="none"
                  preserveAspectRatio="none"
                >
                  <path
                    d="M77.3004 88.7309C50.8766 85.3383 23.6152 75.7499 0 62.0566V135.964H1438.35C1438.9 136 1439.45 136.036 1440 136.071V135.964H1438.35C1405.71 133.82 1371.9 130.566 1336.9 126.072C1157.18 102.995 1075.43 63.2328 1016.9 34.7572C984.242 18.8735 958.808 6.50187 927.616 2.4965C872.749 -4.54842 820.379 3.43595 793.658 24.9399C791.087 27.0068 788.507 29.0927 785.912 31.1903C722.082 82.786 649 141.861 475.951 119.642C411.108 111.315 378.649 99.3803 351.193 89.2851C331.071 81.8866 313.636 75.476 288.111 72.1986C244.318 66.5756 210.156 73.6791 176.906 80.5932C145.385 87.1474 114.684 93.5312 77.3756 88.7406L77.3004 88.7309Z"
                  ></path>
                </svg>
              </div>
            </div>
  
          </div>
        </article>
      </div>
    </div>
  </div>
  