
.contentc {
    display: flex;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
}

.chart-container {
    flex: 1;
    min-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #333;
}
.content {
    margin-left: 250px;
    padding: 40px;
}
  canvas {
    width: 100%;
    height: 400px; /* Đặt chiều cao cho canvas */
  }
  