<body>
    <div class="header">
        <div class="header-link">
            <a href="">Home</a><i class="bi bi-chevron-right"></i>
        <a href="animal">Animals introduction</a>
        </div>
        <h1>Animals Introduction</h1>
    </div>
    <div class="container">

        <!-- Featured Section -->
        <section class="featured-section">
            <div class="featured-card">
                <a class="card-link">
                    <img src="/assets/img/bg3.jpg" alt="Sea Otter">
                    <div class="card-content">
                        <p class="category">ANIMALS</p>
                        <h3>Animals A to Z</h3>
                        <p>Learn about the many different kinds of animals that
                            live in the ocean, from abalone to zebra sharks.</p>
                        <span class="see-all">See all animals</span>
                    </div>
                </a>
            </div>

            <div class="featured-card">
                <a  class="card-link">
                    <img src="/assets/img/habitat.jpg" alt="Sea Otter">
                    <div class="card-content">
                        <p class="category">HABIATS</p>
                        <h3>Habitat of animals</h3>
                        <p>Explore the unique underwater habitats that support
                            and nurture diverse marine life across our
                            oceans.</p>
                        <a href="#" class="card-link">See all habitats</a>
                    </div>
                </a>
            </div>
        </section>

        <!-- Aquarium Visit Section -->
        <section class="aquarium-banner">
            <div class="overlay">
                <h2>What to see at the Aquarium</h2>
                <p>Planning a trip to the Aquarium? Explore our exhibits before
                    you arrive, so you won’t miss out on seeing a thing.</p>
                <!-- <a href="#" class="btn">View our exhibits</a> -->
            </div>
        </section>

        <!-- At Home Section -->
        <div class="title-holder">
            <h1 class="section-title">Read Animal Stories</h1>
        </div>
        <section class="home-section">
            <div class="home-card">
                <a class="card-link">
                    <img src="/assets/img/coral.jpg" alt="Sea Otter">
                    <div class="home-content"> <!-- Changed here -->
                        <p class="home-category">STORY</p>
                        <h3 class="title">The Secret Lives of Coral Cove:
                            Adventures Beneath
                            the Surface</h3>
                        <p class="content ellipsis">In the heart of Coral Cove,
                            a bustling underwater community thrives. The story
                            follows a young sea turtle named Tilly, who
                            discovers a hidden passage that leads to an
                            uncharted part of the aquarium. As she explores,
                            Tilly meets a wise old angelfish named Archimedes,
                            who tells her tales of the aquarium’s history.
                            Together, they embark on thrilling adventures,
                            encountering playful dolphins, a mischievous
                            octopus, and even a grumpy old sea urchin who guards
                            a treasure. Through their journey, Tilly learns the
                            importance of friendship, bravery, and respecting
                            the ocean’s delicate ecosystem.
                        </p>

                    </div>
                </a>
            </div>

            <div class="home-card">
                <a class="card-link">
                    <img src="/assets/img/clownfish.jpg" alt="Sea Otter">
                    <div class="home-content"> <!-- Changed here -->
                        <p class="home-category">STORY</p>
                        <h3 class="title">Fin-tastic Friends: The Great Escape
                            of Sammy the Clownfish</h3>
                        <p class="content ellipsis">Sammy, a spirited clownfish,
                            dreams of a life beyond the confines of his tank. He
                            spends his days entertaining visitors with his
                            playful antics but yearns for adventure. When he
                            overhears a conversation about an upcoming aquarium
                            renovation, he hatches a daring plan with his best
                            friend, Benny the Betta fish. Together, they
                            navigate the challenges of the aquarium, facing
                            curious seahorses, a skeptical parrotfish, and a
                            wise old turtle who tries to keep them in line.
                            Their mission: to find the legendary “Freedom Reef.”
                            This heartwarming tale highlights themes of
                            friendship, courage, and the quest for freedom.
                        </p>

                    </div>
                </a>
            </div>

            <div class="home-card">
                <a class="card-link">
                    <img src="/assets/img/octopus.jpg" alt="Sea Otter">
                    <div class="home-content"> <!-- Changed here -->
                        <p class="home-category">STORY</p>
                        <h3 class="title">Bubbles and Wonders: A Day in the Life
                            of Luna the Octopus</h3>
                        <p class="content ellipsis">Luna, a curious octopus,
                            wakes up to the sound of bubbles in her tank, eager
                            to explore the wonders of her world. Each day brings
                            new challenges and exciting discoveries, from
                            interacting with the colorful fish around her to
                            solving puzzles left by the aquarium staff. One day,
                            she finds a mysterious object that turns out to be a
                            lost toy from a child. Determined to return it, Luna
                            uses her intelligence and agility to navigate her
                            surroundings, making new friends along the way.
                            Through her journey, she teaches readers about
                            creativity, problem-solving, and the beauty of
                            curiosity.
                        </p>

                    </div>
                </a>
            </div>

            <div class="home-card">
                <a class="card-link">
                    <img src="/assets/img/seahorse.jpg" alt="Sea Otter">
                    <div class="home-content"> <!-- Changed here -->
                        <p class="home-category">STORY</p>
                        <h3 class="title">Seahorse Serenade: Tales of the Gentle
                            Swimmers</h3>
                        <p class="content ellipsis">In the dimly lit corners of
                            the Coral Cove Aquarium, the elegant seahorses move
                            with a haunting grace, their delicate forms drifting
                            through the shadows of a world that is both
                            mesmerizing and perilous. Among them is Aria, a
                            solitary seahorse with a yearning for freedom beyond
                            the glass walls that confine her.
                        </p>

                    </div>
                </a>
            </div>
        </section>

    </div>
</body>