<div class="layout-content">
    <div>
      <div data-drupal-messages-fallback="" class="hidden"></div>
      <div id="block-ud-content">
        <div class="udg-device" aria-hidden="true"></div>
        <div class="udg-tickets">
          <div class="container">
            <h1>Book Your Tickets</h1>
            <section class="step-wizard">
              <ul class="step-wizard-list">
                  <li class="step-wizard-item ">
                      <span class="progress-count ">1</span>
                      <span class="progress-label">Time</span>
                  </li>
                  <li class="step-wizard-item ">
                      <span class="progress-count ">2</span>
                      <span class="progress-label">Choose Ticket</span>
                  </li>
                  <li class="step-wizard-item ">
                      <span class="progress-count">3</span>
                      <span class="progress-label">Check</span>
                  </li>
                  <li class="step-wizard-item   current-item">
                      <span class="progress-count">4</span>
                      <span class="progress-label">Success</span>
                  </li>
              </ul>
          </section>
            <div class="col-12 col-lg-7 box">
              <div class="row sib">
                  <div class="panel js-panel right" data-step="4">
                      <p class="guidance">Book Success!</p>
                      <div class="products" data-type="standard">
                        <div class="card-body">
                          <ul class="list-group">
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <p><strong>Type Ticket:</strong> Electronics</p>
                                      <p><strong>Quantity:</strong> 10</p>
                                  </div>
                                  <div class="price">
                                    £26.50
                                  </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center">
                                  <div>
                                      <p><strong>Type Ticket:</strong> Fashion</p>
                                      <p><strong>Quantity:</strong> 20</p>
                                  </div>
                                  <div class="price">
                                    £26.50
                                  </div>
                              </li>
                              <li class="list-group-item d-flex justify-content-between align-items-center final">
                                  <div>
                                      <p><strong>Type Ticket:</strong> Accessories</p>
                                      <p><strong>Quantity:</strong> 15</p>
                                  </div>
                                  <div class="price">
                                    £26.50
                                  </div>
                              </li>
                          </ul>
                          <ul class="list-group"> 
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div>
                                  <strong>Total Quantity:</strong>
                              </div>
                              <div class="price">
                                45
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div>
                                  <strong>Score:</strong>
                              </div>
                              <div class="price">
                                - 0
                              </div>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              <div>
                                  <strong>Total:</strong>
                              </div>
                              <div class="price">
                                £26.50
                              </div>
                            </li>
                          </ul>
                      </div>                        
                      </div>
                      <div class="action step2">
                          <span><a href="/ticket/three" role="button" class="cta cta-lowlight" data-step="3">Go back</a></span>
                          <span><a href="#" role="button" class="cta cta-next" data-step="4">Confirm</a></span>
                          </div>
                    </div> 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  